Xanders app
<hr>
<%= "Notice:#{flash[:notice]}" %>
<hr>
No todos yet
<hr>
<%= link_to "Create a new todo", new_todo_path %>

<ul class="todos">
<% @todos.each do |todo| %>
  <li id="todo-<%= todo.id %>">
    <%= "Complete" if todo.completed == true %>
    <input type="checkbox" class="complete" name="complete" data-complete-url="<%= complete_todo_path(todo) %>">
    <%=	todo.name %><%= button_to "delete", todo, :method => :delete %>
  </li>
<% end %>
</ul>

